:root{
  --primary-white: #fff;
  --primary-green: #03c03c;
}

body{
  overflow: hidden;
}

/* Navbar */
nav{
  z-index: 2;
}

#portfolio-text-splitted, #github-logo, #linkedin-logo, .navbar-icons {
  fill: var(--primary-white)
}

.nav-link .nav-link-text {
  color: var(--primary-white);
}

.nav-link .navbar-icons {
  fill: var(--primary-white);
}

.nav-link:hover .navbar-icons, .nav-link:hover svg .github-logo {
  fill: var(--primary-green);
}

.nav-link:hover .nav-link-text {
  color: var(--primary-green);
}


@media (min-width: 992PX) {
  .navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }

  .navbar-item-text {
    display: none;
  }
}

#nav-brand-name-f {
  -webkit-animation: change-color-f 3s infinite;
          animation: change-color-f 3s infinite;
}

.navbar-expand .navbar-item-text {
  display: none;
}

@-webkit-keyframes change-color-f {
  0% {
    fill: var(--primary-white);
  }
  10% {
    fill: var(--primary-green);
  }
  20% {
    fill: var(--primary-white);
  }
  80% {
    fill: var(--primary-white);
  }
  90% {
    fill: var(--primary-green);
  }
  100% {
    fill: var(--primary-white);
  }
}

@keyframes change-color-f {
  0% {
    fill: var(--primary-white);
  }
  10% {
    fill: var(--primary-green);
  }
  20% {
    fill: var(--primary-white);
  }
  80% {
    fill: var(--primary-white);
  }
  90% {
    fill: var(--primary-green);
  }
  100% {
    fill: var(--primary-white);
  }
}

#nav-brand-name-o2 {
  -webkit-animation: change-color-o2 3s infinite;
          animation: change-color-o2 3s infinite;
}

@-webkit-keyframes change-color-o2 {
  10% {
    fill: var(--primary-white);
  }
  20% {
    fill: var(--primary-green);
  }
  30% {
    fill: var(--primary-white);
  }
  70% {
    fill: var(--primary-white);
  }
  80% {
    fill: var(--primary-green);
  }
  90% {
    fill: var(--primary-white);
  }
}

@keyframes change-color-o2 {
  10% {
    fill: var(--primary-white);
  }
  20% {
    fill: var(--primary-green);
  }
  30% {
    fill: var(--primary-white);
  }
  70% {
    fill: var(--primary-white);
  }
  80% {
    fill: var(--primary-green);
  }
  90% {
    fill: var(--primary-white);
  }
}

#nav-brand-name-l {
  -webkit-animation: change-color-l 3s infinite;
          animation: change-color-l 3s infinite;
}

@-webkit-keyframes change-color-l {
  20% {
    fill: var(--primary-white);
  }
  30% {
    fill: var(--primary-green);
  }
  40% {
    fill: var(--primary-white);
  }
  60% {
    fill: var(--primary-white);
  }
  70% {
    fill: var(--primary-green);
  }
  80% {
    fill: var(--primary-white);
  }
}

@keyframes change-color-l {
  20% {
    fill: var(--primary-white);
  }
  30% {
    fill: var(--primary-green);
  }
  40% {
    fill: var(--primary-white);
  }
  60% {
    fill: var(--primary-white);
  }
  70% {
    fill: var(--primary-green);
  }
  80% {
    fill: var(--primary-white);
  }
}

#nav-brand-name-i {
  -webkit-animation: change-color-i 3s infinite;
          animation: change-color-i 3s infinite;
}

@-webkit-keyframes change-color-i {
  30% {
    fill: var(--primary-white);
  }
  40% {
    fill: var(--primary-green);
  }
  50% {
    fill: var(--primary-white);
  }
  60% {
    fill: var(--primary-green);
  }
  70% {
    fill: var(--primary-white);
  }
}

@keyframes change-color-i {
  30% {
    fill: var(--primary-white);
  }
  40% {
    fill: var(--primary-green);
  }
  50% {
    fill: var(--primary-white);
  }
  60% {
    fill: var(--primary-green);
  }
  70% {
    fill: var(--primary-white);
  }
}

#nav-brand-name-o3 {
  -webkit-animation: change-color-o3 3s infinite;
          animation: change-color-o3 3s infinite;
}

@-webkit-keyframes change-color-o3 {
  40% {
    fill: var(--primary-white);
  }
  50% {
    fill: var(--primary-green);
  }
  60% {
    fill: var(--primary-white);
  }
}

@keyframes change-color-o3 {
  40% {
    fill: var(--primary-white);
  }
  50% {
    fill: var(--primary-green);
  }
  60% {
    fill: var(--primary-white);
  }
}

/* Header */
.header-wrapper {
  position: relative;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(pexels-pixabay-270360.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-green);
}

/* Typed Text */
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

/* Particles */
.tsparticles-canvas-el{
  position: absolute;
  height: 95vh;
  width: 100vw;
  z-index: 1;
}

/* About */

.div-about{
  position: relative;
}